<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        iframe {
            width: 100%;
            height: 500px;
            border: none;
        }
    </style>
    <title>MyChatApp</title>
</head>
<body>
    <header>
        <h1>Welcome to MyChatApp</h1>
    </header>
    <h2>Bash Terminal</h2>
    <iframe src="http://localhost:7681/" title="Terminal"></iframe>
    <!--<div>
        <p>Select an option below:</p>
        <div>
            <a href="/server">Server</a>
            <a href="/client">Client</a>
        </div>
    </div>-->
</body>
</html>
